@import "./keyframes"
@import "./playboard"
@import "./player-info"
@import "./toast"


.clearfix
    clear: both;
    content: " ";
    display: table;
    zoom: 1;

#wrap
    margin: 100px;
    position: relative;
    min-width: 750px;
    max-width: 900px;